@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.list-items {
    @apply space-y-12 mb-4;
}

.custom-button-link {
    @apply bg-mainGreen text-white rounded-lg min-h-[3rem] text-2xl disabled:opacity-25 flex justify-center items-center min-w-[250px] m-auto;


    &.custom-button-link--mp-choice {
        @apply bg-mainGreen py-1 px-2 m-2 min-w-0;
    }
}

h2 {
    @apply text-xl font-bold;
}

.correct-answer {
    @apply text-mainGreen text-lg font-bold;
}

.incorrect-answer {
    @apply text-red-500 text-lg font-bold;
}

.mode-radio,
.num-of-q-checkbox,
.exercise-checkbox {
    @apply py-3;
    label {
        @apply relative;

        input {
            ~ .radio-bg,
            ~ .checkbox-bg {
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #000;
                    background: #fff;
                }

                &::after {
                    content: '';
                    width: 14px;
                    height: 14px;
                    background: #000;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                    opacity: 0;
                }
            }

            &:checked {
                ~ .radio-bg,
                ~ .checkbox-bg {
                    &::after {
                        @apply opacity-100
                    }
                }
            }
        }

        .input-name {
            @apply pl-7;
        }
    }
}

.mode-radio,
.num-of-q-checkbox {
    label {
        input {
            ~ .radio-bg,
            ~ .checkbox-bg {
                &::before,
                &::after {
                    @apply rounded-full;
                }
            }
        }
    }
}
